.calva/output-window/
.classpath
.clj-kondo/
.cpcache
.eastwood
.factorypath
.portal
.hg/
.hgignore
.java-version
.keep
.lein-*
.lsp/
.lsp/sqlite.db
.nrepl-history
.nrepl-port
.project
.rebel_readline_history
.settings
.socket-repl-port
.sw*
.vscode
*.class
*.jar
*.swp
*~
CHANGELOG.md
/doc
/checkouts
/classes
/target
